* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid: 1fr / 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: grid;
  grid: 1fr / 1fr 1fr;
  place-items: center start;
}

.menu ul,
.menu li {
  font-size: 12px;
  list-style: none;
}

.menu ul {
  display: grid;
  grid: 1fr / repeat(4, 1fr);
  gap: 20px;
}

.menu li {
  width: 150px;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2 / 1 / 4 / 2;
  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  place-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  place-items: center;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.nav ul {
  display: grid;
  grid: 1fr / repeat(3, 1fr);
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}